
# SPDX-FileCopyrightText: 2021, Collabora, Ltd
# SPDX-License-Identifier: CC0-1.0

# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
charset = utf-8

[*.cs,*.csproj]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

dotnet_diagnostic.IDE0055.severity = warning
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true
